/**
 * CSS file for Entryform
 **/
 
.hide {
	display:none;
}

body {
	width:100%;
	margin:0;
	background-color:#d2e1ff;
	font-size:14px;
	font-family:'Sans-serif';
}

div.clear {
	clear:both;
}
div.col40 {
	width:40%;
	max-width:650px;
	float:left;
	margin-right:1%;
}
div.col20 {
	width:18%;
	float:left;
}

div#main_container {
	width:50%;
	margin:10% auto;
}

div.section {
	background-color:#dedede;
	border-radius:10px;
}
div#main_container h3 {
	padding:10px;
	margin:0px 0px 2px;
	border-radius: 10px;
	background-color:#ffc600;
	color:#FFF;
	font-weight:normal;	
}

div.sectionContent {
	position:relative;
	padding-top:10px;
	margin-bottom:5px;
}

div.sectionContent div.row{
	position:relative;
	width:95%;
	margin:0px auto;
}

div.section  div.field {
	margin-bottom:10px;
	margin-right:2%;
	display:inline-block;
}
	
div.section div.label {
	font-size:0.9em;
	padding: 0px 0px 2px 5px;
}

div.error {
	position:absolute;
	font-size:0.8em;
	color:#ff4700;
}
div.button {
	position:absolute;
	display:inline-block;
	right:5px;
	bottom:10px;
	padding:5px 40px;
	background-color:#3e4ab8;
	color:#FFF;
	text-align:center;
	border-radius:10px;
	cursor:pointer;
}
div.button.back {
position:relative;
margin-top:15px;
bottom:0px;
right:0px;
}


form#formId {	
	background-color:#FFF;
	border:2px solid #FFF;
	border-radius:10px;
}

form#formId input {
	height:25px;
	padding:5px;
	font-size:1.1em;	
	border:1px solid #999999;
	border-radius:10px;
	background-color:#FFF;
	color:#474747;
}

form#formId #submitButton {
	background-color:inherit;
	padding:none;
	border:none;
	padding:none;
	color:inherit;
	height:inherit;
}
	
